<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorator="layout"
    >
    <head>
        <title>User landing page</title>
    </head>    
    <body layout:fragment="content" >
        <div class="jumbotron">
            <h1 class="display-4">Spring Boot SAML and Form Login</h1>
            <p class="lead">This is a user's landing page</p>
            <hr class="my-4" />
            <p>It uses SAML service provider and database user authentication</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" th:href="@{/security/logout}"  role="button">Logout</a>
            </p>
        </div>
    </body>
</html>
